<div id="registration" class="screen">
    <div id="logo">
        <img id="logo-img" class="logo-inside" src="img/box-logo.png" alt="Box image">
        <div id="logo-word" class="logo-inside">Потеряшки</div>
    </div>

    <form class="container" action="/registration" method="post" onsubmit="regcall()">
        <div class="hidden-scroll">
            <div class="avatar-wrapper">
                <img class="profile-pic" src="" />
                <div class="upload-button">
                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <input class="file-upload" type="file" accept="image/*"/>
            </div>
            <input class="field" type="text" name="name" placeholder="Имя">
            <input class="field" type="text" name="surname" placeholder="Фамилия">
            <input class="field" type="tel" name="phone" placeholder="Телефон">
            <input class="field" type="email" name="email" placeholder="Почта">
            <input class="field" type="password" name="password" placeholder="Пароль">
        </div>

        <button name="register-btn">Зарегистрироваться</button>
    </form>
</div>