<div id="registration" class="screen">
    <div id="logo">
        <img id="logo-img" class="logo-inside" src="img/box-logo.png" alt="Box image">
        <div id="logo-word" class="logo-inside">Потеряшки</div>
    </div>

    <form action="/registration" method="post">
        <input type="file" name="image">
        <input type="text" name="name" placeholder="Имя Фамилия">
        <input type="tel" name="phone" placeholder="Телефон">
        <input type="email" name="email" placeholder="Почта">
        <input type="password" name="password" placeholder="Пароль">
    </form>
</div>